.container
  = link_to new_timeline_path do
    .timeline-create-icon
      = image_tag 'photo-camera.png'
  .timeline-post
    .timeline-post-header
      .timeline-avatar
        = image_tag url_for(@profile.avatar)
      .timeline-info
        .timeline-username
          %p= @user.username
        .timeline-post-time
          .time 3 hours ago

    .post-content
      .image-gallery
        .main-image
          %img{src: "summer_portrait.jpg", alt: "Person with stylish earrings by pool"}
        .side-images
          %img{src: "beach_chairs_sunset.jpg", alt: "Beach chairs at sunset"}
          %img{src: "overwater_bungalows.jpg", alt: "Overwater bungalows and swimming pool"}

    .post-actions
      .like-button
        %i.icon-heart
        %span 12,000
      .comment-button
        %i.icon-comment
      .share-button
        %i.icon-share

    .post-comments
      .comment
        %strong Jasmine
        and 12,000 other liked your post

      .caption
        %strong Jmax_21
        Summer holiday :3