.follow-header {
  position: relative;
}

.follow-title {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.follows {
  margin-top: 20px;
}

.follow-person {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 30px 0;

  & + & {
    border-top: 1px solid #eeeeee;
  }
}

.follow-avatar {
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.follow-username {
  font-size: 14px;
}
