.profile-header {
  position: relative;
  width: 100%;
  align-items: center;
}

.profile-username {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
}

.profile-action-button {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.profile-avatar {
  text-align: center;
  margin-top: 64px;

  img {
    width: 84px;
    height: 84px;
    border-radius: 50%;
  }
}

.profile-info {
  display: flex;
  margin-top: 43px;
  gap: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.my-posts {
  width: 70px;
}

.my-followers {
  width: 70px;
}

.my-followings {
  width: 70px;
}

.count {
  text-align: center;
  font-size: 16px;
}

.content {
  text-align: center;
  font-size: 14px;
  color: #9e9e9e;
}

.hidden {
  display: none;
}
